Repository ajanes93/andresjanes.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck

lint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

format:
  run: npx prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: npx vue-tsc --noEmit

chore: update build configuration and dependencies
  eslint.config.js
  lefthook.yml
  package-lock.json
  package.json
  tsconfig.json
Due: lint, format

feat: add SEO generation scripts
  scripts/generate-seo.test.ts
  scripts/generate-seo.ts
  scripts/lib/claude.test.ts
  scripts/lib/claude.ts
  scripts/seo/hash.test.ts
  scripts/seo/hash.ts
  scripts/seo/json-ld.test.ts
  scripts/seo/json-ld.ts
  scripts/seo/llms.test.ts
  scripts/seo/llms.ts
  scripts/seo/robots.test.ts
  scripts/seo/robots.ts
  scripts/seo/sitemap.test.ts
  scripts/seo/sitemap.ts
Due: lint, format, typecheck

refactor: update AI summary generation script
  scripts/generate-ai-summary.ts
Due: lint, format, typecheck

feat: add console greeting composable
  src/composables/useConsoleGreeting.test.ts
  src/composables/useConsoleGreeting.ts
Due: lint, format, typecheck

feat: add BeyondTheCode component
  src/components/BeyondTheCode.test.ts
  src/components/BeyondTheCode.vue
Due: lint, format, typecheck

refactor: remove unused Card subcomponents
  src/components/ui/CardDescription.test.ts
  src/components/ui/CardDescription.vue
  src/components/ui/CardHeader.test.ts
  src/components/ui/CardHeader.vue
  src/components/ui/CardTitle.test.ts
  src/components/ui/CardTitle.vue
  src/components/ui/index.ts
Due: lint, format, typecheck

refactor: remove AiSummary and LLMHotlinks components
  src/components/AiSummary.test.ts
  src/components/AiSummary.vue
  src/components/LLMHotlinks.test.ts
  src/components/LLMHotlinks.vue
Due: lint, format, typecheck

refactor: update UI components
  src/components/ui/Avatar.vue
  src/components/ui/AvatarImage.vue
  src/components/ui/Button.test.ts
  src/components/ui/TracingBeam.vue
  src/components/ui/button.ts
Due: lint, format, typecheck

refactor: update main section components
  src/components/AiInsights.vue
  src/components/ExperienceTimeline.vue
  src/components/ProfileHero.vue
  src/components/SkillsSection.vue
Due: lint, format, typecheck

refactor: update profile store and CV generator
  src/composables/useCvGenerator.test.ts
  src/composables/useCvGenerator.ts
  src/stores/profile.test.ts
  src/stores/profile.ts
  src/test/utils.ts
Due: lint, format, typecheck

refactor: update App entry points
  src/App.test.ts
  src/App.vue
  src/main.ts
Due: lint, format, typecheck

chore: update static assets and generated SEO files
  index.html
  public/img/profile.webp
  public/img/sains.svg
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  src/data/ai-summary.json
Due: format

feat: add Google Analytics 4 tracking
  index.html
Due: none

feat: add Google Analytics 4 tracking (#14)
  index.html
Due: none

feat: update side projects section with active projects
  scripts/generate-ai-summary.ts
  scripts/seo/llms.ts
  src/components/BeyondTheCode.test.ts
  src/components/BeyondTheCode.vue
  src/composables/useCvGenerator.test.ts
  src/stores/profile.test.ts
  src/stores/profile.ts
Due: lint, format, typecheck

chore: update SEO file hashes after profile data change
  public/robots.txt
  public/sitemap.xml
Due: none

chore: update SEO files for side projects profile change
  index.html
  public/llms.txt
Due: none

feat: add URLs to side projects, link feed-ai to feed-ai.pages.dev
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  scripts/generate-ai-summary.ts
  scripts/seo/llms.ts
  src/components/BeyondTheCode.test.ts
  src/components/BeyondTheCode.vue
  src/composables/useCvGenerator.test.ts
  src/stores/profile.ts
Due: lint, format, typecheck

feat: add title and description to side projects
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  scripts/generate-ai-summary.ts
  scripts/seo/llms.ts
  src/components/BeyondTheCode.test.ts
  src/components/BeyondTheCode.vue
  src/composables/useCvGenerator.test.ts
  src/stores/profile.ts
Due: lint, format, typecheck

feat: update side projects with descriptions and URLs (#15)
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  scripts/generate-ai-summary.ts
  scripts/seo/llms.ts
  src/components/BeyondTheCode.test.ts
  src/components/BeyondTheCode.vue
  src/composables/useCvGenerator.test.ts
  src/stores/profile.test.ts
  src/stores/profile.ts
Due: lint, format, typecheck

feat: add Alastair Bell LinkedIn recommendation
  CLAUDE.md
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  src/stores/profile.ts
Due: lint, format, typecheck

feat: add Alastair Bell LinkedIn recommendation (#16)
  CLAUDE.md
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  src/stores/profile.ts
Due: lint, format, typecheck

Update profile.ts
  src/stores/profile.ts
Due: lint, format, typecheck

Update profile.ts (#17)
  src/stores/profile.ts
Due: lint, format, typecheck

feat: expand side project display with name, description, and clickable link
  src/components/BeyondTheCode.vue
Due: lint, format, typecheck

feat: expand side project display with name, description, and clickable link (#18)
  src/components/BeyondTheCode.vue
Due: lint, format, typecheck

Add one-question to side projects
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  src/stores/profile.ts
Due: lint, format, typecheck

Update feed-ai description
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  src/stores/profile.ts
Due: lint, format, typecheck

Make AI hotlinks prompt more concise
  src/stores/profile.test.ts
  src/stores/profile.ts
Due: lint, format, typecheck

Pre-summarise profile for AI hotlinks using Claude
  package.json
  scripts/generate-hotlinks-prompt.test.ts
  scripts/generate-hotlinks-prompt.ts
  src/data/ai-hotlinks-prompt.json
  src/stores/profile.test.ts
  src/stores/profile.ts
Due: lint, format, typecheck

Format generate-hotlinks-prompt.ts
  scripts/generate-hotlinks-prompt.ts
Due: lint, format, typecheck

Extract getTodayISODate into shared claude lib
  scripts/generate-ai-summary.ts
  scripts/generate-hotlinks-prompt.ts
  scripts/lib/claude.test.ts
  scripts/lib/claude.ts
Due: lint, format, typecheck

Strengthen tests for hotlinks prompt and store getter
  scripts/generate-hotlinks-prompt.test.ts
  src/stores/profile.test.ts
Due: lint, format, typecheck

Include PHP/Laravel in hotlinks profile summary
  src/data/ai-hotlinks-prompt.json
Due: format

feat: add one-question project and pre-summarise AI hotlinks (#19)
  index.html
  package.json
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  scripts/generate-ai-summary.ts
  scripts/generate-hotlinks-prompt.test.ts
  scripts/generate-hotlinks-prompt.ts
  scripts/lib/claude.test.ts
  scripts/lib/claude.ts
  src/data/ai-hotlinks-prompt.json
  src/stores/profile.test.ts
  src/stores/profile.ts
Due: lint, format, typecheck

Path conditions:
  lint: any of: *.{js,ts,vue}
  format: any of: *.{js,ts,vue,json,css,md,yml,yaml}
  typecheck: any of: *.{ts,vue}
