Repository ajanes93/andresjanes.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck

lint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

format:
  run: npx prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: npx vue-tsc --noEmit

style: apply prettier formatting and add Avatar/BorderBeam tests
  src/App.vue
  src/components/ExperienceTimeline.test.ts
  src/components/ExperienceTimeline.vue
  src/components/LLMHotlinks.vue
  src/components/ProfileHero.test.ts
  src/components/ProfileHero.vue
  src/components/SkillsSection.vue
  src/components/ThemeToggle.vue
  src/components/ui/Avatar.test.ts
  src/components/ui/Avatar.vue
  src/components/ui/AvatarFallback.test.ts
  src/components/ui/AvatarFallback.vue
  src/components/ui/AvatarImage.test.ts
  src/components/ui/Badge.vue
  src/components/ui/BorderBeam.test.ts
  src/components/ui/BorderBeam.vue
  src/components/ui/Card.vue
  src/components/ui/CardDescription.vue
  src/components/ui/CardTitle.vue
  src/components/ui/TextGenerateEffect.vue
  src/components/ui/TracingBeam.vue
Due: lint, format, typecheck

refactor(ui): add tests, typing, and simplify UI components
  src/components/ui/AnimatedBeam.vue
  src/components/ui/Badge.vue
  src/components/ui/BlurFade.vue
  src/components/ui/BorderBeam.vue
  src/components/ui/Button.vue
  src/components/ui/CardContent.test.ts
  src/components/ui/CardContent.vue
  src/components/ui/CardDescription.test.ts
  src/components/ui/CardDescription.vue
  src/components/ui/CardHeader.test.ts
  src/components/ui/CardHeader.vue
  src/components/ui/CardTitle.test.ts
  src/components/ui/CardTitle.vue
  src/components/ui/TextGenerateEffect.test.ts
  src/components/ui/TextGenerateEffect.vue
  src/components/ui/TracingBeam.test.ts
  src/components/ui/TracingBeam.vue
Due: lint, format, typecheck

chore(lint): add eslint-plugin-better-tailwindcss for Tailwind class validation
  eslint.config.js
  package-lock.json
  package.json
  src/App.vue
  src/components/AiSummary.vue
  src/components/ExperienceTimeline.vue
  src/components/LLMHotlinks.vue
  src/components/ProfileHero.vue
  src/components/SkillsSection.vue
  src/components/ThemeToggle.vue
  src/components/ui/BorderBeam.vue
  src/components/ui/TracingBeam.vue
  src/index.css
  vite.config.ts
Due: lint, format, typecheck

feat(ThemeToggle): auto-detect and react to system theme changes
  src/components/ThemeToggle.test.ts
  src/components/ThemeToggle.vue
Due: lint, format, typecheck

refactor: add App tests, remove unused components, improve code clarity
  public/doc/cv_andres_janes.pdf
  src/App.test.ts
  src/App.vue
  src/components/ExperienceTimeline.vue
  src/components/ui/BorderBeam.test.ts
  src/components/ui/BorderBeam.vue
  src/components/ui/TextGenerateEffect.test.ts
  src/components/ui/TextGenerateEffect.vue
  src/components/ui/index.ts
  src/composables/useCvGenerator.test.ts
  src/composables/useCvGenerator.ts
  src/lib/constants.test.ts
  src/lib/utils.test.ts
  src/lib/utils.ts
  src/stores/profile.ts
  vite.config.js
Due: lint, format, typecheck

feat: add AI summary generation script using Claude Code CLI
  package-lock.json
  package.json
  scripts/generate-ai-summary.test.ts
  scripts/generate-ai-summary.ts
  src/data/ai-summary.json
  vite.config.ts
Due: lint, format, typecheck

chore: remove duplicate vite.config.js
  vite.config.js
Due: lint, format

chore: add Claude Code config files to repo
  .claude/agents/code-reviewer.md
  .claude/agents/code-simplifier.md
  .claude/agents/test-writer.md
  .claude/commands/build.md
  .claude/commands/pr.md
  .claude/commands/test.md
  .gitignore
  CLAUDE.md
Due: format

ci: add PR checks and improve deploy workflow
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: format

test(AiSummary): mock JSON data for consistent tests
  src/components/AiSummary.test.ts
Due: lint, format, typecheck

docs: rewrite README with accurate features and tech stack
  README.md
Due: format

docs: rewrite README with accurate features and tech stack (#2)
  README.md
Due: format

refactor: use VueUse utilities and convert LLM buttons to links
  src/components/LLMHotlinks.vue
  src/components/ThemeToggle.vue
  src/components/ui/BlurFade.vue
  src/components/ui/TracingBeam.vue
Due: lint, format, typecheck

feat: improve SEO and discoverability for search engines and LLMs
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
Due: none

chore: add vite build artifacts to gitignore
  .gitignore
Due: none

test: update tests for VueUse refactored components
  src/components/LLMHotlinks.test.ts
  src/components/ThemeToggle.test.ts
Due: lint, format, typecheck

chore: ignore vite config build artifacts
  .gitignore
Due: none

feat: improve SEO and discoverability for search engines and LLMs (#3)
  .gitignore
  index.html
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
Due: none

feat: make BlurFade animations trigger sooner and faster
  src/components/ui/BlurFade.test.ts
  src/components/ui/BlurFade.vue
Due: lint, format, typecheck

refactor: use VueUse utilities and convert LLM buttons to links (#4)
  .gitignore
  src/components/LLMHotlinks.test.ts
  src/components/LLMHotlinks.vue
  src/components/ThemeToggle.test.ts
  src/components/ThemeToggle.vue
  src/components/ui/BlurFade.test.ts
  src/components/ui/BlurFade.vue
  src/components/ui/TracingBeam.vue
Due: lint, format, typecheck

fix: theme toggle and mobile CV button visibility
  src/App.vue
  src/components/ThemeToggle.vue
Due: lint, format, typecheck

refactor: simplify theme toggle and CV button
  src/App.vue
  src/components/ThemeToggle.vue
Due: lint, format, typecheck

fix: theme toggle and mobile CV button visibility (#5)
  src/App.vue
  src/components/ThemeToggle.vue
Due: lint, format, typecheck

fix: correct theme toggle functionality and default light theme value
  src/components/ThemeToggle.vue
Due: lint, format, typecheck

fix: correct theme toggle functionality and default light theme value (#6)
  src/components/ThemeToggle.vue
Due: lint, format, typecheck

feat: improve SEO and LLM content with updated tech stack
  index.html
  public/llms.txt
  src/data/ai-summary.json
  src/lib/constants.ts
  src/stores/profile.ts
Due: lint, format, typecheck

test: update SkillsSection test to use Node.js instead of React
  src/components/SkillsSection.test.ts
Due: lint, format, typecheck

feat: improve SEO and LLM content with updated tech stack (#7)
  index.html
  public/llms.txt
  src/components/SkillsSection.test.ts
  src/data/ai-summary.json
  src/lib/constants.ts
  src/stores/profile.ts
Due: lint, format, typecheck

feat: enhance experience descriptions with metrics and updated tech stack
  src/stores/profile.ts
Due: lint, format, typecheck

fix: standardize spacing across components to p-4
  src/App.vue
  src/components/ExperienceTimeline.vue
  src/components/LLMHotlinks.vue
Due: lint, format, typecheck

feat: enhance experience descriptions and standardize spacing (#8)
  src/App.vue
  src/components/ExperienceTimeline.vue
  src/components/LLMHotlinks.vue
  src/stores/profile.ts
Due: lint, format, typecheck

fix: standardize AiSummary padding to p-4
  src/components/AiSummary.vue
Due: lint, format, typecheck

fix: standardize AiSummary padding to p-4 (#9)
  src/components/AiSummary.vue
Due: lint, format, typecheck

fix: standardize AiSummary padding to p-4
  src/components/LLMHotlinks.vue
  src/components/ui/CardContent.vue
  src/components/ui/CardHeader.vue
Due: lint, format, typecheck

fix: standardize AiSummary padding to p-4 (#10)
  src/components/LLMHotlinks.vue
  src/components/ui/CardContent.vue
  src/components/ui/CardHeader.vue
Due: lint, format, typecheck

feat: combine AI Summary and LLM Hotlinks into single AiInsights component
  src/App.vue
  src/components/AiInsights.vue
Due: lint, format, typecheck

feat: combine AI Summary and LLM Hotlinks into single AiInsights component (#11)
  src/App.vue
  src/components/AiInsights.vue
Due: lint, format, typecheck

feat: add static site generation with vite-ssg
  package-lock.json
  package.json
  src/main.ts
Due: lint, format, typecheck

feat: add static site generation with vite-ssg (#12)
  package-lock.json
  package.json
  src/main.ts
Due: lint, format, typecheck

Path conditions:
  lint: any of: *.{js,ts,vue}
  format: any of: *.{js,ts,vue,json,css,md,yml,yaml}
  typecheck: any of: *.{ts,vue}
